nav {
  position: sticky;
  backdrop-filter: blur(2rem);
  z-index: 999;
  
  &#header {
    border-bottom: 1px solid var(--background-color);
    top: 0;
  }
  &#footer {
    bottom: 0;
  }
}


// =============================
// @todo pull this into __sensible modules ?
// sizing 
html, 
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;
  }
}

// I don't think this is doing anything
.container > * {
  opacity: 1;
  transition: all 0.2s ease-out;
  // margin-left: 0;
  // margin-right: 0; 


  &.htmx-added {
    opacity: 0;
    transition: all 0.2s ease-out;
    // margin-left: 100%;
  }
  // &.htmx-settling {
  //   opacity: 0;
  //   margin-right: 100%;
  // }
}

// ==================

// support for ghost buttons on nav
//@todo need to add support for ghost buttons everywhere
nav {
    // More support for role="button"
    [role="button"], button, input[type=button] {

      margin-right: inherit;
      margin-left: inherit;
      padding: var(--nav-link-spacing-vertical) var(--nav-link-spacing-horizontal);

      &.ghost {
        --background-color: transparent;
        --border-color: transparent;
        --color: inherit;

        &:is([aria-current], :hover, :active, :focus) {
          --color: var(--primary);
        }
        
        &.nav-active {
          --color: var(--primary);
          text-decoration: underline;
        }

        &.logo.nav-active {
          --color: inherit;
          text-decoration: initial;
        }
      }
    }
}

// =============================
// remove extra margin on last paragraph

p:last-child {
  margin-bottom: initial;
}

// icons inline with text

:is(i, a)[class*="nf-"].inline {
  position: relative;
  vertical-align: text-top;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  display: inline-block;

  &:not(:first-child) {
    margin-right: 0.25rem;

  }
}


// =============================
// button group

.form-group,
[role=form-group] {
  :is(
    [role=button], 
    button, 
    input
  ) {
    height: initial;
    min-width: 2rem;
    border-radius: 0;
    margin: initial;

    &:first-child {
      border-bottom-left-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }

    &:last-child {
      border-bottom-right-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
  }
}

// ===-----------
// only here because cdn.jsdelivr isn't updating fast enough

:is(i, a)[class^="nf-"] {
  font-family: 'NerdFontsSymbols Nerd Font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering (from devicons, et al) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.15s ease-in-out;
  color: currentColor;
}

a[class^="nf-"] {
 text-decoration: none;
 color: var(--color);
 cursor: pointer;
}
