<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>htmx playground</title>
  <style>
    @import 'https://octoshrimpy.github.io/microcss/micro.css';
  </style>

  <link rel="stylesheet" href="custom.css">
    
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.8.2/dist/htmx.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/adamvleggett/drawdown@master/drawdown.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js" integrity="sha256-hNyljag6giCsjv/yKmxK8/VeHzvMDvc5u8AzmRvm1BI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/markdown-it/markdown-it-container@master/dist/markdown-it-container.min.js"></script>


  <script src="/routing.js"></script>
  

</head>
<body>
  <header
    hx-trigger="load"
    hx-get="/modules/nav"
    hx-swap="outerHTML"
    ></header>
    <main 
      class="container"
      hx-history-elt
    >
  </main>
    <footer
    hx-trigger="load"
    hx-get="/modules/footer"
    hx-swap="outerHTML"
  ></footer>
</body>
</html>
